aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.2
black==23.3.0
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
coverage==7.2.3
cssselect==1.2.0
curl-cffi==0.5.5
decorator==5.1.1
distlib==0.3.6
dnspython==2.3.0
docker==6.0.1
duckduckgo-search==2.8.6
edge-tts==6.1.3
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fake-useragent==1.1.3
fastapi==0.95.1
filelock==3.11.0
flake8==6.0.0
Flask==2.2.2
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
googlesearch-python==1.2.3
gTTS==2.3.1
h11==0.14.0
httplib2==0.22.0
identify==2.5.22
idna==3.4
importlib-metadata==6.6.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
lml==0.1.0
loguru==0.7.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
names==0.3.0
nodeenv==1.7.0
numpy==1.24.1
openai==0.27.2
openpyxl==3.1.0
orjson==3.8.10
outcome==1.2.0
packaging==23.1
pandas==1.5.3
parse==1.19.0
pathspec==0.11.1
Pillow==9.4.0
pinecone-client==2.2.1
platformdirs==3.2.0
playsound==1.2.2
pre-commit==3.2.2
protobuf==3.20.3
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.1b0
pydub==0.25.1
pyee==8.2.2
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyflakes==3.0.1
pygame==2.3.0
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.0.9
PyPasser==0.0.5
pypiwin32==223
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pyttsx3==2.90
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pywin32==306
PyYAML==6.0
readability-lxml==0.8.1
redis==4.5.4
regex==2023.3.23
replicate==0.8.1
requests==2.28.2
requests-html==0.10.0
rich==13.3.5
rsa==4.9
selenium==4.8.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sourcery==1.2.0
SpeechRecognition==3.8.1
starlette==0.26.1
streamlit==1.21.0
texttable==1.6.7
tiktoken==0.3.3
tls-client==0.2
toml==0.10.2
toolz==0.12.0
tornado==6.3.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
TwoCaptcha==0.0.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
undetected-chromedriver==3.4.6
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.22.0
validators==0.20.0
virtualenv==20.21.0
w3lib==2.1.1
watchdog==3.0.0
webdriver-manager==3.8.6
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.2
Wikipedia-API==0.5.8
win32-setctime==1.1.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.0.8
yarl==1.8.2
zipp==3.15.0
